<mat-toolbar color="primary">Calculadora</mat-toolbar>
<mat-card class="card">
  <form class="form">
    <mat-form-field class="field">
      <input matInput class="input"
        type="number" 
        name="resultado"
        [(ngModel)]="resultado">
    </mat-form-field>
  </form>


  <button mat-mini-fab color="primary"
    *ngFor="let number of [1,2,3,4,5,6,7,8,9,0]"
    (click)="obtenerNumero(number)"
    >
    {{number}}
  </button>
  <br />

  <button mat-mini-fab color="primary"
  *ngFor="let op of ['+','-','*','/']"
  (click)="obtenerOperador('op')"
  >{{op}}
  </button>
  <br />

  <button mat-mini-fab color="warn"
  (click)="limpiar()"
  >C</button>

  <button mat-mini-fab color="primary"
  (click)="obtenerResultado()"
  >=</button>
</mat-card>

<router-outlet></router-outlet>
